input[type="underline"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="underline"]:disabled
{background-color:transparent;}

input[type="underline"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}